<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <h1 id="caption"></h1>
</div>

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Embroidery + Affordable = Embroidable</h1>
      <hr>
      <p>Want to learn more about what we offer?</p>
      <a href="mailto:toni@embroidable.com" class="btn btn-primary btn-xl page-scroll">Contact Us!</a>
    </div>
  </div>
</header>
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-2 text-center padding-container">
        <h2 class="section-heading text-white">What is Embroidable?</h2>
        <hr>
        <p class="text-faded">We are a custom embroidery service that works with businesses of all sizes. It has never been so easy to put your business logo on all types of merchandise using high quality embroidery techniques!</p>
        <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Find Out More</a>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-thumbs-up text-primary sr-icons"></i>
          <h3>Customer Satisfaction</h3>
          <p class="text-muted">We aim to make you happy! We guarantee all of our work.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="far fa-4x fa-money-bill-alt text-primary sr-icons"></i>
          <h3>Affordable Pricing</h3>
          <p class="text-muted">Get your custom embroidery done without breaking the bank!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-check text-primary sr-icons"></i>
          <h3>High Quality</h3>
          <p class="text-muted">We use only the best threads in order to ensure high quality.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>Made with Love</h3>
          <p class="text-muted">We are a family business and we love what we do!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6 portfolio-box" id="img1" onclick="reply_click(this.id)">
        <!-- <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box"> -->
          <%= image_tag "portfolio/thumbnails/1.jpg", class: "img-responsive", alt: "Shirts" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Shirts
              </div>
            </div>
          </div>
        <!-- </a> -->
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-box" id="img2" onclick="reply_click(this.id)">
        <!-- <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box"> -->
          <%= image_tag "portfolio/thumbnails/2.jpg", class: "img-responsive", alt: "Uniforms" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Uniforms
              </div>
            </div>
          </div>
        <!-- </a> -->
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-box" id="img3" onclick="reply_click(this.id)">
        <!-- <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box"> -->
          <%= image_tag "portfolio/thumbnails/3.jpg", class: "img-responsive", alt: "Backpacks" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Backpacks
              </div>
            </div>
          </div>
        <!-- </a> -->
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-box" id="img4" onclick="reply_click(this.id)">
        <!-- <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box"> -->
          <%= image_tag "portfolio/thumbnails/4.jpg", class: "img-responsive", alt: "Aprons" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Aprons
              </div>
            </div>
          </div>
        <!-- </a> -->
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-box" id="img5" onclick="reply_click(this.id)">
        <!-- <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box"> -->
          <%= image_tag "portfolio/thumbnails/5.jpg", class: "img-responsive", alt: "Hats" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Hats
              </div>
            </div>
          </div>
        <!-- </a> -->
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-box" id="img6" onclick="reply_click(this.id)">
        <!-- <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box"> -->
          <%= image_tag "portfolio/thumbnails/6.jpg", class: "img-responsive", alt: "Towels" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Towels
              </div>
            </div>
          </div>
        <!-- </a> -->
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the image and insert it inside the modal - use its "alt" text as a caption

  function reply_click(clicked_id) {
    var div = document.getElementById(clicked_id)
    var img = div.getElementsByTagName('img')[0];
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    modal.style.display = "block";
    modalImg.src = img.src;
    captionText.innerHTML = img.alt;
  }
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>